<div class = "col-md-11 ml-md-5">
	<div class="row">
		<div class = "col-md-3">	
		</div>

		<div class = "col-md-9">
			<div class="row">
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
				<div class="imag1">
					<img src="http://file.vforum.vn/hinh/2014/4/em-be-cuoi-de-thuong-13.jpg">
				</div>
			</div>

		</div>
	</div>		
</div>

<div class = "col-md-11 ml-md-5">
  		<div class="footer">
	        <div class="footer-info text-center">
	        Dương Minh Toàn - Hà Đình Nhân
	      	<br>
	        1412553-1412367 <br>
	        Copyright© 2017<br>
	    </div>
 </div>
