
<div class="container">
	<div class="row">
		<div class = "col-md-11 ml-md-5">
			<div class="row">
				<div class = "col-md-2">	
				</div>
				<div class = "col-md-10">
					<div class="row">
						<div class="images">
							<a href="/img1"><img src="http://hinhnendep.vn/wp-content/uploads/2016/06/hinh-anh-em-be-de-thuong-nhat-37-295x221.jpg" class="img-thumbnail" alt="Baby Kute"></a>
						</div>
						<div class="images">						
							<a href="/img2"><img src="http://cms.kienthuc.net.vn/zoomh/500/uploaded/ctvcongdongtre/2014_03_21/anh%20tre%20con/trecon-kienthuc-14_zzfz.jpg" class="img-thumbnail" alt="Baby"></a>
						</div>
						<div class="images">
							<a href="/img3"><img src="https://s-media-cache-ak0.pinimg.com/originals/25/06/9a/25069aceea3d5dfa6f26bcd7b22da332.jpg" class="img-thumbnail" alt="Baby with sport"></a>
						</div>
						<div class="images">
							<a href="/img4"><img src="http://www.laxons.com/wp-content/uploads/2012/06/Mother-and-Baby.jpg" class="img-thumbnail" alt="Baby with mother"></a>
						</div>
					</div>
				</div>			
			</div>	
		</div>
	</div>

	<div class = "col-md-11 ml-md-5">
  		<div class="footer">
	        <div class="footer-info text-center">
	        Dương Minh Toàn - Hà Đình Nhân
	      	<br>
	        1412553-1412367 <br>
	        Copyright© 2017<br>
	    </div>
 	</div>
</div