	

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<div class="row">
			<div class = "col-md-11 ml-md-5">
				<div class="row">
					<div class = "col-md-3">
						Left menu
					</div>	
					<div class = "col-md-8">
						<h1>Thông tin các thành viên của nhóm</h1>
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-sm-6">
						            <div class="card hovercard">
						                <div class="cardheader">
						                </div>
						                <div class="avatar">
						                    <img alt="" src="http://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/12241575_878131592301171_1589021947937581776_n.jpg?oh=666f681b35c15092d3836905b63223c2&oe=5A480F97">
						                </div>
						                <div class="info">
						                    <div class="title">
						                        <a target="_blank" href="http://facebook.com/duongminhtoan29">Dương Minh Toàn</a>
						                    </div>
						                    <div class="desc">1412553</div>
						                    <div class="desc">1412553@student.hcmus.edu.vn</div>
						                    <div class="desc">0164 682 1073</div>
						                    <div class="desc">Phú Yên</div>
						                </div>
						                <div class="bottom">     
						                    </a>
						                    <a target="_blank" class="btn btn-danger btn-sm" rel="publisher"
						                       href="http://plus.google.com/u/0/109212408442596182119">
						                        <i class="fa fa-google-plus"></i>
						                    </a>
						                    <a target="_blank" class="btn btn-primary btn-sm"  rel="publisher"
						                       href="http://facebook.com/duongminhtoan29">
						                        <i class="fa fa-facebook"></i>
						                    </a>          
										</div>
									</div>	
								</div>

								<img src=""/>


								<div class="col-lg-6 col-sm-6">
						            <div class="card hovercard">
						                <div class="cardheader">
						                </div>
						                <div class="avatar">
						                    <img alt="" src="http://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/1173838_226498924173429_1878104041_n.jpg?oh=bf27e4b39a58cda8cd1b7d830fccf4e8&oe=5A800B72">
						                </div>
						                <div class="info">
						                    <div class="title">
						                        <a target="_blank" href="http://www.facebook.com/dinhnhan1102">Hà Đình Nhân</a>
						                    </div>
						                    <div class="desc">1412367</div>
						                    <div class="desc">1412367@student.hcmus.edu.vn</div>
						                    <div class="desc">0169 504 2165</div>
						                    <div class="desc">Bình Thuận</div>
						                </div>
						                <div class="bottom">     
						                    </a>
						                    <a target="_blank" class="btn btn-danger btn-sm" rel="publisher"
						                       href="#">
						                        <i class="fa fa-google-plus"></i>
						                    </a>
						                    <a target="_blank" class="btn btn-primary btn-sm" rel="publisher"
						                       href="http://www.facebook.com/dinhnhan1102">
						                        <i class="fa fa-facebook"></i>
						                    </a>          
										</div>
									</div>	
								</div>


							</div>



						</div>





					</div>
				</div>
			</div>
		</div>
	</div>






	<div class = "col-md-11 ml-md-5">
  		<div class="footer">
	        <div class="footer-info text-center">
	        Dương Minh Toàn - Hà Đình Nhân
	      	<br>
	        1412553-1412367 <br>
	        Copyright© 2017<br>
	    </div>
 	</div>
</body>
</html>



