// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.images  {
	width: 30%;
	margin-bottom: 10px;
	border: 2px soild gray;
	padding: 5px;
}

.images img {
	width: 100%;

}