<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  	<div class="row">
  		<div class = "col-12 ml-md-5">
  			<img src="https://i.pinimg.com/236x/65/83/d1/6583d1e27e4cfd22a96c5f48acedadf5--kingsman-secret-service.jpg" width="140" height="170" controls/>
  			<img src="http://anhbiafb.com/uploads/ctv_2/FILE-20170303-23429UR9K9U5L4XG.jpg" width="80%" height="170" controls/>
  		</div>
  	</div>
  	<div class = "col-md-11 ml-md-5">
  		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  		<a class="navbar-brand" href="/">HOME</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  	</button>

			 <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        
			      </li>
			      <li class="nav-item ">
			        <a class="nav-link" href="/albums"><i class="fa fa-picture-o" aria-hidden="true"></i>Albums</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="/about"><i class="fa fa-info" aria-hidden="true"></i>About</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="/blog"><i class="fa fa-rss-square" aria-hidden="true"></i>Blog</a>
			      </li>
			    </ul>
			    <div class="form-inline my-2 my-lg-0">
				    <a href="/Users"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
				 </div>
			 </div>
		</nav>


		<div class="row">
			<div class = "col-md-2">
				
			<div class = "col-md-10">
				
			</div>
		</div>



  	</div>


	
    <%= yield %>
  </body>
</html>







<div class="nav-side-menu">
    				<div class="brand">Danh mục</div>
    			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        		<div class="menu-list">
  
            		<ul id="menu-content" class="menu-content collapse out">
                		<li>
		                  <a href="#">
		                  	<i class="fa fa-dashboard fa-lg"></i> Dashboard
		                  </a>
                		</li>

                	<li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>
				
			</div>